body
{
    background-image:url('https://sgtmo.files.wordpress.com/2014/05/post_apocalyptic_the_book_of_eli_1440x900_13138.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

/* ===============
   FOOTER SETTINGS 
   =============== */
   
footer
{
    background-image: url("../imgs/bg_footer.png");
    background-position: top center;
    margin-top:80px;
    color : #01b2f1;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

footer li
{
    margin-top: 5px;
}

footer li > p
{
    margin: 0px;
}

footer li >  a > p
{
    color: #DCDDDD;
    font-family: 'Lucida Sans Unicode',Arial,Helvetica,sans-serif;
    font-size: 16px;
    margin:0;
}

footer li > a
{
    color: white !important;
    padding: 5px !important;
}

footer li > a:hover
{
    background-color: inherit !important;
    text-decoration: underline !important;
}

footer li > a:focus
{
    background-color:inherit !important;
}

@font-face {
    font-family: apocalypse;
    src: url('../fonts/apocalypse.ttf');
}

.intro-panel
{
    background-color:rgba(37, 38, 39, 0.9);
}

.zssn-brand
{
    opacity:0.7;
    padding:0; 
}

.navbar-zssn
{
    height: 82px;
    background-color:#000;
}

.panel-title
{
    font-family: apocalypse;
    font-size:6em;
    color:#FF0000;
}

.panel-info
{
    margin-top:35px;
    text-align:center;
}

.panel-info h1
{
    font-family: apocalypse;
    font-size:6em;
    color: rgb(233,79,101);
    margin:0;
    
}

p
{
    color: #DCDDDD;
    font-family: 'Lucida Sans Unicode',Arial,Helvetica,sans-serif;
    font-size: 16px;
}

legend, label
{
    color: #DCDDDD;
    font-family: 'Lucida Sans Unicode',Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-weight: 700;
}


.descriptive-img
{
    margin-right:20px;
}

.submit-button
{
    margin:5px 0 10px 0;
}

.asteriskField {
    display: none;
}