<!DOCTYPE html>
{% load staticfiles %}
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block head %}{% endblock %}
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    </head>
    <body>
        <main>
            {% block main %}
            {% endblock %}
        </main>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <ul class="nav nav-pills nav-stacked text-center">
                            <li><p>Survivors</p></li>
                            <li><a href="people/">List of Survivors</a></li>
                            <li><a href="#" data-toggle="modal" data-target="#reportInfectedModal">Report someone infected</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <ul class="nav nav-pills nav-stacked text-center">
                            <li><a href="report/"><p>Reports</p></a></li>
                            <li><a href="report/infected/">Infecteds</a></li>
                            <li><a href="report/non_infected/">Non Infecteds</a></li>
                            <li><a href="report/people_inventory/">People Inventory</a></li>
                            <li><a href="report/infected_points/">Infected Points</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <ul class="nav nav-pills nav-stacked text-center">
                            <li><p>Items</p></li>
                            <li><a href="#" data-toggle="modal" data-target="#tradeItemsModal">Trade Item</a></li>
                            <li><a href="#" data-toggle="modal" data-target="#searchInventoryModal">Show Item</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3"> 
                        <hr>
                        <p class="comp text-center">Bruno Castro - 2016 | Todos os Direitos Reservados. </p>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>