{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
<title>ZSSN - Log In or Sign Up</title>
{% endblock %}

{% block main %}
<div class="container" style=margin-top:30px>
    <div class="row intro-panel">
        <div class="col-md-6">
            <section>
                <h1 class="panel-title">Zombie Survival Social Network</h1>
                
                <section class="panel-info">
                    <h1>Meet New Survivors</h1>
                    <p>Meet new survivors, maybe you can find the love of your life here.</p>
                </section>
                <section class="panel-info">
                    <h1>Trade Items</h1>
                    <p>Buy and sell your old stuff</p>
                </section>
                <section class="panel-info">
                    <h1>Share what's new</h1>
                    <p>Report all survivors if you see someone infected.</p>
                </section>
                <section class="panel-info">
                    <h1>Survive Together</h1>
                    <p>Come on dude! You can't survive alone forever.</p>
                </section>
                
            </section>
        </div>
        <div class="col-md-6">
            <section>
                <h1 class="panel-title">Welcome To Hell !</h1>
                <p>ZSSN is your best bet to keep alive!</p>
                {% load crispy_forms_tags %}
                {% crispy form %}
            </section>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="searchInventoryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Search Survivor Inventory</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form" method="GET" id="survivorProperties">
                        {% csrf_token %}
                        <div class="form-group">
                            <label  class="col-sm-2 control-label" for="inputId">Survivor's ID</label>
                            
                            <div class="col-sm-10">
                                <input type="number" class="form-control" id="inputId" placeholder="ID"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-default" id="searchSurvivorPropertiesButton">Search</button>
                            </div>
                        </div>
                        {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="reportInfectedModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Report someone infected</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form" method="POST" id="reportInfected">
                        {% csrf_token %}
                        <div class="form-group">
                            <label  class="col-sm-2 control-label" for="inputId">Your ID</label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control" id="inputYourId" name="inputYourId" placeholder="ID"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label  class="col-sm-2 control-label" for="inputId">Survivor's ID</label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control" id="inputInfectedId" placeholder="ID"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-default" id="reportButton">Report</button>
                            </div>
                        </div>
                        {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="tradeItemsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Trade Items</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" method="POST" id="tradeItems">
                    {% csrf_token %}
                    <div class="form-group">
                        <label  class="col-sm-2 control-label" for="inputId">Your ID</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputYourId" name="inputYourId" placeholder="ID" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="col-sm-2 control-label" for="inputId">Your Items</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputMyItens" name="inputMyItens" value="water:0;food:0;medication:0;ammunition:0" maxlength=44/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="col-sm-2 control-label" for="inputId">Survivor's ID</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputOtherSurvivorId" name="inputOtherSurvivorId" placeholder="ID" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="col-sm-2 control-label" for="inputId">Items to trade</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputItensToTrade" name="inputItensToTrade" value="water:0;food:0;medication:0;ammunition:0" maxlength=44/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default" id="tradeButton">Trade</button>
                        </div>
                    </div>
                    {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                </form>
            </div>
        </div>
    </div>
    
</div>

<script>
    $('#searchSurvivorPropertiesButton').click(function(){
        $('#survivorProperties').attr('action','people/' + $('#inputId').val() + '/properties/');
        $('#survivorProperties').submit();
    });
    
    $('#reportButton').click(function(){
        $('#reportInfected').attr('action','people/' + $('#inputInfectedId').val() + '/report_infection/');
        $('#reportInfected').submit();
    });
    
    $('#tradeButton').click(function(){
        $('#tradeItems').attr('action','people/' + $('#inputOtherSurvivorId').val() + '/properties/trade_item/');
        $('#tradeItems').submit();
    });
</script>


{% endblock %}